{% extends "oneevent/base_confirmation.html" %}

{% block navbar_breadcrumbs %}
    <li class="active">
        {% if cancel %}
        Cancel Exemption
        {% else %}
        Confirm Exemption
        {% endif %}
    </li>
{% endblock %}


{% block heading_action %}
    {% if cancel %}
    Cancel Exempt of Payment
    {% else %}
    Confirm Exempt of Payment
    {% endif %}
{% endblock %}

{% block heading_title %}{{ booking.person.get_full_name }}
<small>for</small> {{ booking.event.title }}{% endblock %}

{% block post_url %}
    {% if cancel %}
        {% url 'booking_payment_unexempt' booking_id=booking.id %}
    {% else %}
        {% url 'booking_payment_exempt' booking_id=booking.id %}
    {% endif %}
{% endblock %}
