<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseEventDetails">
        <strong>Event details</strong>
    </div>
    <div id="collapseEventDetails" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="col-md-4">
            <p><label>Timezone:</label>
                {{ event.timezone }}</p>
            <p><label>Starts: </label>
                {{ event.start|date:"D, d N Y H:i" }}</p>

            {% if event.end %}
            <p><label>Ends: </label>
                {{ event.end|date:"D, d N Y H:i" }}</p>
            {% endif %}

            <p><label>Organisers: </label><ul>
            {% for orga in event.organisers.all %}<li>{{ orga.get_full_name }}</li>{% endfor %}
            </ul></p>
        </div>
        <hr class="hidden-md hidden-lg"/>
        <div class="col-md-4">
            {% if event.booking_close %}
            <p><label>Bookings close: </label>
                {{ event.booking_close|date:"D, d N Y H:i" }}</p>
            {% endif %}
            {% if event.choices_close %}
            <p><label>Choices close: </label>
                {{ event.choices_close|date:"D, d N Y H:i" }}</p>
            {% endif %}

            <p><label>Price categories</label>
            <ul>
            {% for category in event.categories.all %}
                <li>{{ category.name }} : {{ category.price|default:"Free" }}
                {% if category.price and event.price_currency %}({{event.price_currency}}){% endif %}
                </li>
            {% endfor %}
            </ul>

            {% if price != None %}
            <p><label>Price for you: </label>
                {{ price|default:"Free" }}
                {% if event.price_currency and price %}({{event.price_currency}}){% endif %}
            </p>
            {% endif %}
        </div>
        <hr class="hidden-md hidden-lg"/>
        <div class="col-md-4">
            {% if event.location_name %}
            <p><label>Venue: </label>
                {{event.location_name}}</p>
            {% endif %}
            {% if event.location_address %}
            <p><label>Address: </label>
                <pre>{{event.location_address}}</pre></p>
            {% endif %}
            {% if event.description %}
            <p><label>Description: </label>
                <pre>{{event.description}}</pre></p>
            {% endif %}
        </div>
    </div>
    </div>
</div>
