{% extends "oneevent/base.html" %}
{% load crispy_forms_tags %}

{% block heading_action %}Messages{% endblock %}
{% block heading_title %}New message{% endblock %}

{% block navbar_header_text %}New message{% endblock %}

{% block navbar_extra %}
<!--  TODO: Add message navigation here -->
{% endblock %}

{% block content %}
<div class="row">
    {% if thread_id %}
    <form action="{% url 'message_reply' thread_id=thread_id %}" method="post">
    {% else %}
    <form action="{% url 'message_create' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-default" type="submit" value="Send" />
    </form>
</div>
{% endblock %}
