/* Make sure that the navbar does not overlap the rest */
body {
    padding-top: 50px;
}

/* To force tooltips to be working even on disabled buttons */
.btn.enable-tooltip {
    pointer-events: auto;
}

/* Small separation */
.bottom-separation {
    padding-bottom: 10px;
}

/* Classes to add collapsing arrows to collapsible panels */
/* From http://stackoverflow.com/a/18330745 and a bit of http://stackoverflow.com/a/23772496 */
.collapsible-caret .collapsible-toggle:hover {
    text-decoration: none;
}
.collapsible-caret .collapsible-toggle:hover span,
.collapsible-caret .collapsible-toggle:hover strong {
    text-decoration: underline;
}
.collapsible-caret .collapsible-toggle:before {
    vertical-align: -3px;
}
.collapsible-caret .collapsible-toggle:not(.collapsed):before {
    font-family: 'Glyphicons Halflings';
    content: "\e113"; /* "chevron-up" icon */
    margin-right: 0px;
}
.collapsible-caret .collapsible-toggle.collapsed:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114"; /* "chevron-down" icon */
    margin-right: 0px;
}

/* Breadcrumbs in the navvar */
/* Based on https://stackoverflow.com/a/20271642/4117760 */
.nav .breadcrumb {
    margin: 7px 10px;
}