{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar_header_text %}Manage Event{% endblock %}

{% block heading_action %}Manage{% endblock %}
{% block heading_title %}{{ event.title }}
    <small>{{ event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block content %}
<div class="row">

<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseOne">
        <strong>Event details</strong>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
        {% crispy form %}
        </form>
    </div>
    </div>
</div>

{% if event.choices.count > 0 %}
<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseTwo">
        <strong>Choices summary</strong>
        <a href="{% url 'dl_event_options_summary' event_id=event.id %}" class="btn btn-default">Download</a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in table-responsive" >
        <table class="panel-body table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Choice</th>
                    <th colspan="0">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for choice, options in event.get_options_counts.iteritems %}
                <tr>
                    <th>{{ choice.title }}</th>
                    {% for option, total in options.items %}
                    <td>
                        {{ option.title }}
                        <span class="badge pull-right">{{ total }}</span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseThree">
        <strong>Participants</strong>
        <a href="{% url 'dl_participants_list' event_id=event.id %}"
            class="btn btn-default" data-toggle="" data-target="">Download</a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse table-responsive">
        <table class="panel-body table table-bordered">
            <thead>
                <tr>
                    <th rowspan=2>Name</th>
                    <th rowspan=2>Employment</th>
                    <th rowspan=2>Actions</th>
                    <th rowspan=2>Booking Status</th>
                    {% if event.choices.count > 0 %}
                    <th colspan=0>Choices</th>
                    {% endif %}
                </tr>
                <tr>
                    {% for choice in event.choices.all %}
                    <th>{{ choice.title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for booking in event.bookings.all %}
                <tr class="{{ booking.get_payment_status_class }}">
                    <td><!-- Name -->
                        {{ booking.person.get_full_name }}
                    </td>

                    <td><!-- Employment -->
                        {% if booking.is_employee %}<p>Employee</p>{% endif %}
                        {% if booking.is_contractor %}<p>Contractor</p>{% endif %}
                    </td>

                    <td><!--  Actions -->
                        {% if booking.cancelledBy and booking.paidTo%}
                        <div><a href="{% url 'cancel_payment' booking_id=booking.id %}"
                            class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-euro"></span>
                            Refund
                        </a></div>
                        {% endif %}
                        {% if not booking.paidTo and booking.must_pay > 0 %}
                        <div><a href="{% url 'confirm_payment' booking_id=booking.id %}"
                            class='btn btn-success btn-sm'>
                            <span class="glyphicon glyphicon-ok"></span>
                            Confirm Payment
                        </a></div>
                        {% endif %}
                        {% if not booking.cancelledBy %}
                            {% if booking.user.email %}
                            <div><a href="{% url 'send_booking_invite' booking_id=booking.id %}"
                                class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-calendar"></span>
                                Send invite
                            </a></div>
                            {% endif %}
                        <div><a href="{% url 'cancel_booking' booking_id=booking.id %}"
                            class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Cancel booking
                        </a></div>
                        {% endif %}
                    </td>

                    <td><!-- Booking status -->
                       {% if booking.cancelledBy %}
                           <div><span class="label label-default">Cancelled</span>
                           by {{booking.cancelledBy.get_full_name}} on {{booking.cancelledOn|date:"d N Y H:i"}}</div>
                           {% if booking.paidTo %}
                               <div><span class='label label-danger'>Payment received</span>
                               by {{ booking.paidTo.get_full_name }} on {{ booking.datePaid|date:"d N Y H:i" }}</div>
                           {% endif %}
                       {% elif booking.paidTo %}
                           <div><span class='label label-success'>Payment received</span>
                           by  {{ booking.paidTo.get_full_name }} on {{ booking.datePaid|date:"d N Y H:i" }}</div>
                       {% elif booking.must_pay > 0 %}
                           <div><span class='label label-warning'>No payment received</span></div>
                       {% else %}
                           <div><span class='label label-success'>No payment needed</span></div>
                       {% endif %}

                    <!-- Options -->
                    {% for option in booking.options.all %}
                    <td>
                        {{ option.option.title }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="panel-footer">
        <p><strong>Total Confirmed bookings: </strong> {{event.get_active_bookings.count}}</p>
        <p><strong>Including Cancelled: </strong> {{event.bookings.count}}</p>
    </div>
</div>

<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseFour">
        <strong>Collected money</strong>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in table-responsive">
        <table class="panel-body table table-striped table-hover">
            <thead>
                <tr>
                    <th>Organiser</th>
                    <th>Employees</th>
                    <th>Contractors</th>
                    <th>Other (debug)</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for organiser, totals in event.get_collected_money_sums %}
                {% if organiser == 'Total' %}
                <tr class="info">
                    <th>Total</th>
                {% else %}
                <tr>
                    <th>{{ organiser.get_full_name }}</th>
                {% endif %}
                    <td>
                        {{ totals.Employees|default:0 }}
                        {% if event.price_currency %}({{event.price_currency}}){% endif %}
                    </td>
                    <td>
                        {{ totals.Contractors|default:0 }}
                        {% if event.price_currency %}({{event.price_currency}}){% endif %}
                    </td>
                    <td>
                        {{ totals.Other|default:0 }}
                        {% if event.price_currency %}({{event.price_currency}}){% endif %}
                    </td>
                    <td>
                        {{ totals.Total|default:0 }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>
{% endblock %}
