{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block navbar_header_text %}Registration{% endblock %}

{% block heading_action %}Register{% endblock %}
{% block heading_title %}{{ booking.event.title }}
    <small>{{ booking.event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block content %}

<div class="row">
    {% if booking.person != user %}
    <div class="panel panel-danger">
        <div class="panel-heading text-center"><h4>
            <span class="glyphicon glyphicon-warning-sign"></span>
            You are editing a booking for: {{booking.person.get_full_name}}
        </h4></div>
    </div>
    {% endif %}

    <div class="panel panel-info collapsible-caret">
        <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseOne">
            <strong>Event info</strong>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <p><label>Location:</label>
                {{ booking.event.city }}</p>
            <p><label>Starts: </label>
                {{ booking.event.start|date:"D, d N Y H:i" }}</p>

            {% if booking.event.end %}
            <p><label>Ends: </label>
                {{ booking.event.end|date:"D, d N Y H:i" }}</p>
            {% endif %}

            <p><label>Organisers: </label><ul>
            {% for orga in booking.event.organisers.all %}<li>{{ orga.get_full_name }}</li>{% endfor %}
            </ul></p>

            {% if booking.event.booking_close %}
            <p><label>Bookings close: </label>
                {{ booking.event.booking_close|date:"D, d N Y H:i" }}</p>
            {% endif %}
            {% if booking.event.choices_close %}
            <p><label>Choices close: </label>
                {{ booking.event.choices_close|date:"D, d N Y H:i" }}</p>
            {% endif %}

            <p><label>Price for Employees: </label>
                {{ booking.event.price_for_employees }}
                {% if booking.event.price_currency %}({{booking.event.price_currency}}){% endif %}
            </p>

            <p><label>Price for Contractors: </label>
                {{ booking.event.price_for_contractors }}
                {% if booking.event.price_currency %}({{booking.event.price_currency}}){% endif %}
            </p>

            {% if booking.event.location_name %}
            <p><label>Venue: </label>
                {{booking.event.location_name}}</p>
            {% endif %}
            {% if booking.event.location_address %}
            <p><label>Address: </label>
                <pre>{{booking.event.location_address}}</pre></p>
            {% endif %}
        </div>
        </div>
    </div>
    <div class="panel panel-{{booking.get_payment_status_class|default:'info'}} collapsible-caret">
        <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseTwo">
            <strong>Registration status</strong>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" >
        <div class="panel-body">
            <p><label>Registration:</label>
            {% if booking.cancelledBy %}
            Not Confirmed/Cancelled (by {{booking.cancelledBy.get_full_name}} on {{booking.cancelledOn|date:"D, d N Y H:i"}})
            {% else %}
            Confirmed
            </p>
            {% endif %}
            {% if not booking.cancelledBy or booking.paidTo %}
            <p><label>Payment:</label>
                <span class="bg-{{booking.get_payment_status_class}}">
                {% if booking.exempt_of_payment %}
                    Exempted of payment by {{booking.paidTo.get_full_name}} on {{booking.datePaid|date:"D, d N Y H:i"}}
                {% elif booking.paidTo %}
                    Paid to {{booking.paidTo.get_full_name}} on {{booking.datePaid|date:"D, d N Y H:i"}}
                {% elif booking.must_pay == 0 %}
                    {% if booking.exempt_of_payment %}
                    Exempted of payment by {{booking.paidTo.get_full_name}} on {{booking.datePaid|date:"D, d N Y H:i"}}
                    {% else %}
                    No payment needed
                    {% endif %}
                {% else %}
                Please pay
                {{ booking.must_pay }}{% if booking.event.price_currency %}({{booking.event.price_currency}}){% endif %}
                to an organiser.
                {% endif %}
                </span>
            {% endif %}
            </p>
            {% if not booking.cancelledBy %}
            <p>
            <a href="{% url 'send_booking_invite' booking_id=booking.id %}" class="btn btn-info">Receive Calendar Entry</a>
            <a href="{% url 'cancel_booking' booking_id=booking.id %}" class="btn btn-danger">Unregister</a>
            </p>
            {% endif %}
        </div>
        </div>
    </div>
    <div class="panel panel-info collapsible-caret">
        <div class="panel-heading collapsible-toggle" data-toggle="collapse"data-target="#collapseThree">
            {% if booking.event.choices.count > 0 %}
            <strong>Your choices</strong>
            {% else %}
            <strong>Update registration</strong>
            {% endif %}
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
        <div class="panel-body">
            <form action="{% url 'update_booking' booking_id=booking.id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success"
                value="Confirm {% if booking.cancelledBy %}Registration{% else %}Changes{% endif %}"/>
            <a href="{% url 'my_events' %}" class="btn btn-warning">
                Cancel {% if booking.cancelledBy %}Registration{% else %}Changes{% endif %}</a>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}